@{
    ViewBag.Title = "CheckoutDone";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<div class="inner-page">
    <div class="heading">
        <div class="container">
            <div class="row">
                <h1>Благодарим за заказ</h1>
            </div>
        </div>
    </div>
    <p style="font-size:18px;">Спасибо за Ваш заказ. В ближайшее время с Вами свяжется наш менеджер для уточнения деталей.</p>
</div>


