@{
    Layout = "~/Views/_LayoutPage.cshtml";
}
<!--About Page Start-->
    <div class="inner-page">
      <div class="heading">
        <div class="container">
          <div class="row">
            <h1>404</h1>
            <strong class="title">This page is 404</strong> </div>
        </div>
      </div>
      <!--404 Page Start-->
      <div class="page-404">
        <div class="page-404-top"> <a href="#" class="num" style="font-size:120px;">4</a> <a href="#" class="sad"></a> <a href="#" class="num" style="font-size:120px;">4</a> </div>
        <h2>“Извините, такой страницы не существует.”</h2>
        <div class="return-box"> <strong class="back-to">Вернуться на <a href="/" class="link">Главную</a> страницу.</strong> </div>
      </div>
      <!--404 Page End--> 
    </div>
    <!--About Page End--> 
<script type="text/javascript">
    document.getElementById('cp-preloader').style.display = "none";
</script>